@import "tailwindcss";
@import "./assets/fonts/fonts.css";

:root {
    overflow-x: hidden;
    font-family: Supreme;
    background-color: #ebeadf;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #ebeadf;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ebeadf;
}